<!-- <div class="page-wrapper">

    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a routerLink=" ">
                <img src="assets/images/products/log1.png" class="image_logo" >
            </a>
        </div>
        <div class="menu-sidebar-content">
            <app-product-category></app-product-category>
        </div>
       
    </aside>
  
    <div class="page-container">
      
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <app-search-product></app-search-product>
                      
                        <app-login-status></app-login-status>
                        <app-cart-status></app-cart-status>

                    </div>
                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>
     

       
        <router-outlet></router-outlet>
     
    </div>
</div>



<footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</footer> -->

<!-- <div class="page-wrapper">
   
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a routerLink=" ">
                <img src="assets/images/products/log1.png" class="image_logo" alt="Logo">
            </a>
        </div>
        <div class="menu-sidebar-content">
            <app-product-category></app-product-category>
        </div>
    </aside>
   

    <div class="page-container">
     
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <app-search-product></app-search-product>
                        <div class="header-icons">
                            <app-login-status></app-login-status>
                            <app-cart-status></app-cart-status>
                        </div>
                    </div>
                </div>
            </div>
        </header>
       

      
        <main>
            <router-outlet></router-outlet>
        </main>
      
    </div>
</div>


<footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</footer> -->

<div class="page-wrapper">


<div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
        <!-- Hamburger button -->
      
        <!-- END Hamburger button -->

        <!-- <div class="logo">
            <a routerLink=" ">
                <img src="assets/images/products/new-logo.png" class="image_logo" alt="Logo">
            </a>
        </div> -->
        <div class="header-wrap">
            <app-search-product></app-search-product>
            <div class="header-icons">
                <app-login-status></app-login-status>
                <app-cart-status></app-cart-status>
            </div>
        </div>
    </header>
    <nav class="navbar" id="navbar">
        <div class="navbar-content">
            <app-product-category></app-product-category>
        </div>
    </nav>
    <!-- END new  HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <main>
        <router-outlet></router-outlet>
        <!-- <app-product-list></app-product-list> -->
    </main>
    <!-- END MAIN CONTENT-->

    <!-- FOOTER -->
    <footer>
        <ul>
            <li><a href="#">About Us harsha harssha harzfxzfz </a></li>
            <li><a href="#">Contact Us harshafgf hbmgfgbdf</a></li>
            <li><a href="#">Help harshagxfghd ggdf</a></li>
        </ul>
    </footer>
    <!-- END FOOTER -->
</div>
</div>