   @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    
    .caligraphy-text {
        font-family: 'Great Vibes', cursive;
        font-size: 36px;
        color:darkorange;
        padding-left: 17px;
    }

    .form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        flex-grow: 1;
    }
    .au-input-sm {
        width: 700px;  /* Adjust the width as needed */
        height: 20px;  /* Adjust the height as needed */
        padding: 20px ;  /* Adjust padding as needed */
        font-size: 14px;  /* Adjust font size as needed */
        margin-right: 30px;
        box-sizing: border-box;  /* Ensure padding doesn't affect the total width/height */
    }

    .au-btn-submit {
        padding: 10px 20px;
    }