<div class="main-content">
   <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!--loop over collection of products-->
                <div *ngFor="let temp of products" class="col-md-3">
                  <div class="product-box">
                      <a routerLink="/products/{{temp.id}}"><img src="{{temp.imageUrl}}" class="img-responsive"/></a>
                      
                      <a routerLink="/products/{{temp.id}}"><h2>{{temp.name}}</h2></a>
                      <div class="price">{{temp.unitPrice|currency:'INR'}}</div>
                      <button (click) = "addToCart(temp)" id ="addCart"class="addToCartButton">Add to cart</button>
                  </div>

                </div>
                <!--if products are empty then display this-->
                <div *ngIf="products?.length==0" class ="alert alert-warning col-md-12" role="alert">
                    No products found
                </div>
            </div>
            <!--begin footer-->
            <div class="footer-pagination">
              <div class="row">
                <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-9" style="padding-left: 30%;">
                         <ngb-pagination [(page)]="thePageNumber"
                                          [pageSize]="thePageSize"
                                          [collectionSize]="theTotalElements"
                                          (pageChange)="listProductList()">
                             
                         </ngb-pagination>
                        </div>
                        
                          <div class="col-md-3 mt-2" style="text-align: left;">
                            <span class="mr-2">Page size</span>
                            <select (change)="updatePageSize($any($event.target).value)">
                              <option selected="true">5</option>
                              <option>10</option>
                              <option>20</option>
                              <option>30</option>
  
                              </select>
                          </div>
                      
                  </div>
              </div>


            </div>
            
            <!--end footer-->
        </div>
   </div>

</div>